@model int

<td style="width: 150px">
    <div class="btn-group" role="group">
        <a type="button" class="btn btn-primary btn-sm" href="@Url.Action($"Edit",new {id=Model})">Edit</a>
        <a type="button" class="btn btn-sm btn-success" href="@Url.Action($"Details",new{id = Model})">Details</a>
        <a type="button" class="btn bt-sm btn-danger" href="@Url.Action($"Delete",new{id=Model})">Delete</a>
    </div>
</td>